<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.healthout">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/icon_healthout"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ADD ALL ACTIVITIES -->
        <activity android:name=".RegisterAccountActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".RegisterAppsActivity" />
        <activity android:name=".EditGoalsActivity" />
        <activity android:name=".EditGoalDetailActivity" />
        <activity android:name=".EditAccountActivity" />
    </application>

</manifest>