<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package = "com.example.android.healthout">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/icon_healthout"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ADD ALL ACTIVITIES -->
        <activity
            android:name=".RegisterAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterAppsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditGoalsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditGoalDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditAccountActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>